<nav class="navbar navbar-inverse">

  <br>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="#" style=color:black>Plants</a></li>
      <li><a href="#" style=color:black>Planters</a></li>
      <li><a href="#" style=color:black>Supplies</a></li>
      <li><a href="#" style=color:black>Merch</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><input type="text" class="form-control" placeholder="Search"></li>
      <li><a href="#"><span class="glyphicon glyphicon-shopping-cart">Cart</span></a></li>
    </ul>
    <div class="navbar-brand" href="#" style=color:black>Rooted</div>  </div>
</nav>